@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <a href="/Home/Customers/">
        <button>All Customers</button>
    </a>

    <a href="/Home/Addresses/">
        <button>All Addresses</button>
        
    </a>

    <a href="/Home/Carts/">
        <button>All Carts</button>

    </a>